.poster {
  object-fit: cover;
  border-radius: 20px;
}

.slider_slide {
  position: relative;
  max-height: 500px;
  aspect-ratio: 3 / 4;
  border-radius: 20px;
}

.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 10px;
  overflow-x: scroll;
}

.bullet {
  width: 8px;
  height: 8px;
  padding: 0;
  background: var(--color-border-strong);
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}

.active {
  width: 24px;
  height: 8px;
  background: var(--color-accent-9) !important;
  background: #000;
  border-radius: 10px;
}
