@use 'abstracts' as *;

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  height: 48px;
  padding: 10px;
  font-weight: 500;
  color: black;
  background: var(--color-accent-9);
  border: 1px solid black;
  border: none;
  border-radius: 10px;

  :global([data-theme='dark']) & {
    color: black;
    background: var(--color-accent-9);
    border: 1px solid lab(94.2766% 0.635952 7.66994 / 0.12);
  }

  button {
    font-size: 5rem;
    color: white;

    svg {
      color: black;

      :global([data-theme='dark']) & {
        color: black;
      }
    }
  }
}
