.label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: start;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: grey;
  border: 2px solid lab(79.2667% 9.96342 51.0155);
  border-radius: 8px;

  :global([data-theme='dark']) & {
    background: rgb(22 26 31);
    border: 1px solid lab(79.2667% 9.96342 51.0155);
  }

  .labelInput {
    width: 100%;
    height: 100%;
    padding: 0;
    color: black !important;
    border: none;
    transition: 0.1s;

    :global([data-theme='dark']) & {
      color: white !important;
      background: rgb(22 26 31);
    }
  }
}

.labelInput:focus {
  scale: 1.02;
}

.errorMessage {
  font-size: 14px;
  color: #ff6b6b;
}

.errorInput {
  border: 1px solid #ff6b6b !important;
}
