@use 'abstracts' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  max-width: 1280px;
  padding: $space-2 $space-3 0;
  margin: 0 auto;

  @include media-up('md') {
    gap: $space-8;
    padding: $space-6 $space-6 0;
  }

  .title {
    font-size: $font-size-2xl;
  }

  .starsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
