.cell {
  height: 38px;
  padding: 0 16px;
  cursor: pointer;
  background: color(display-p3 0.939 0.939 0.939);
  border: 1px solid color(display-p3 0.849 0.849 0.849);
  border-radius: 16px;
  transition: 0.2s;

  &:hover {
    background: color(display-p3 0.973 0.796 0.184);
  }

  :global([data-theme='dark']) & {
    color: #fff;
    background-color: color(display-p3 0.098 0.098 0.098);
    border: 1px solid color(display-p3 0.228 0.228 0.228);

    &:hover {
      color: black;
      background: color(display-p3 0.973 0.796 0.184);
    }
  }

  span {
    font-size: 14px;
    font-weight: 500;
  }
}

.active {
  background: color(display-p3 0.973 0.796 0.184);

  :global([data-theme='dark']) & {
    color: black;
    background: color(display-p3 0.973 0.796 0.184);
    border: 1px solid color(display-p3 0.228 0.228 0.228);
  }
}
